:root {
  --white: #fff;
  --grey-100: #2C200F;
  --grey-200: #a5a099;
  --grey-300: #e9e8e8;
  --grey-500: #e6e6e6;
  --grey-600: #f5f3f3;
  --orange-300: #E47851;
  --link-color: #644637;
  --link-active-color: #30211a;
  --search-color: #383838;
  --letter-block-size: 40px;
  --min-column-width: 270px;
  --font-family: 'Manrope', Arial, sans-serif;
  --font-weight-light: 200;
  --font-weight-normal: 300;
  --font-weight-bold: 500;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-heavy);
  font-size: 14px;
  line-height: 1.25rem;
  color: #40455e;
  background: #f8f8f8;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

h2 {
  font-size: 1.35rem;
  font-weight: 500;
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0.75rem 0;
}

strong {
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:visited, &:active, &:hover, &:focus {
    color: var(--link-active-color);
  }
}

header {
  display: flex;
  background: var(--white);
  padding: 0 1.25rem;
  border-bottom: 4px solid var(--grey-300);

  > .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem;
  }

  .search {
    display: flex;
    align-items: center;
    flex: 1;

    > input[type='search'] {
      flex: 1;
      margin: 0;
      padding: 0;
      border: none;
      font-size: 1.85rem;
      line-height: 4.5rem;
      color: var(--search-color);

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        opacity: 0;
      }

      &::placeholder {
        color: #969696;
        font-weight: var(--font-weight-normal);
        font-family: var(--font-family);
      }

      &:focus, &:focus-visible {
        outline: none;
        border-color: var(--search-border-color-focus);
      }
    }
  }

}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.75rem;
  margin: 1rem;

   > dl > dt {
    display: inline-block;
    width: var(--letter-block-size);
    height: var(--letter-block-size);
    line-height: var(--letter-block-size);
    margin: 0 0 0.75rem;
    font-size: 22px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    color: var(--white);
    border-radius: 50%;
    background: var(--orange-300);
    text-align: center;
  }

  > dl > dd {
    margin: 0.25rem 0;
    background: var(--grey-600);
    padding: 0.35rem 0.5rem;
    border-radius: 4px;
  }
}

@media screen and (min-width: 640px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 1fr));
  }
}

.artist-page {
  .title {
    background: var(--grey-600);
    padding: 1.5rem;
  }

  section {
    display: grid;
    gap: 1.5rem;

    .catalogue {
      padding: 0 0.5rem;

      .types {
        display: flex;
        gap: 0.5rem;
        margin: 1.5rem 0;

        > li {
          min-width: 50px;
          padding: 0.35rem 0.75rem;
          text-align: center;
          border-radius: 1rem;
          border: 1px solid var(--grey-300);
          background: var(--white);
          cursor: pointer;

          &:hover {
            background: var(--grey-600);
          }

          &.active {
            border-color: var(--orange-300);
            color: var(--white);
            background: var(--orange-300);

            &:hover {
              filter: none;
            }
          }
        }
      }

      .catalogue-format {
        display: none;

        &.active {
          display: block;
        }

        .release {
          display: block;
          min-height: 45px;
          line-height: 1.5rem;
          padding: 0.5rem;
          margin: 0.5rem 0;
          background: var(--grey-600);

          > strong {
            display: block;
          }

          .more {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            font-size: 0.7rem;
            line-height: 1rem;
            margin-top: 0.35rem;

            > .secondary-formats {
              display: flex;
              gap: 0.25rem;

              > li {
                padding: 0 0.35rem;
                border-radius: 1rem;
                color: var(--white);
                background: var(--grey-200);
              }
            }
          }
        }

        a.release {
          cursor: pointer;

          &:hover {
            background: var(--grey-500);
          }
        }
      }
    }
  }
}
