body {
  min-width: fit-content;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-500);
  font-size: 14px;
  line-height: 1.25rem;
  color: #40455e;
  background: var(--grey-700);
}

h1 {
  font-size: 2rem;
  font-weight: var(--font-weight-700);
  margin: 1rem 0;
}

h2 {
  font-size: 1.35rem;
  font-weight: var(--font-weight-700);
  margin: 1rem 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: var(--font-weight-700);
  margin: 0.75rem 0;
}

strong {
  font-weight: var(--font-weight-700);
}

ul {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: var(--brown-300);

  &:visited,
  &:active,
  &:hover,
  &:focus {
    color: var(--brown-100);
  }
}
