
.hidden {
  display: none;
}

a.back {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 1.25rem;
  margin: 0 0 2rem;
}

.loading {
  position: relative;
  height: 100vh;

  &::after {
    position: absolute;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 5px solid var(--grey-500);
    border-top-color: var(--grey-200);
    opacity: 0;
    animation: 1s 1s 1 forwards fade-in, 1s 1s infinite forwards rotate;
    content: '';
  }
}
