:root {
  --white: #fff;
  --grey-100: #221a0f;
  --grey-200: #a5a099;
  --grey-300: #e9e8e8;
  --grey-500: #e6e6e6;
  --grey-600: #f5f3f3;
  --grey-700: #f8f8f8;
  --brown-100: #30211a;
  --brown-300: #644637;
  --brown-500: #897169;
  --orange-200: #ac4824;
  --orange-300: #c7623d;
  --orange-400: #e16b40;
  --orange-500: #f79876;
  --letter-block-size: 40px;
  --min-column-width: 270px;
  --font-family: 'Manrope', Arial, sans-serif;
  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-700: 500;
}
